:root {
    /* Vi definerer de farver vi vil bruge som variabler, så vi hurtigt kan ændre farverne ét sted */
    --main-grey: #28292C;
    --secondary-grey: #373D46;
    --neon-green: #33FF00;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

h1 {
    font-family: Safety;
    font-weight: 100;
    font-size: 4.2rem;
}

header {
    width: 100vw;
    height: 70px;
    position: fixed;
    background-color: var(--main-grey);
    display: flex;
    z-index: 100;
}

#header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 20px;
}

nav {
    display: none;
}

#logo {
    height: 30px;
}

#burger_menu div {
    width: 20px;
    height: 2px;
    margin: 3px;
    background-color: #CCC;
}

main {
    display: flex;
    width: 400vw;
    overflow: hidden;
    position: relative;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #EAEAEA;
}

#road {
    width: 8000px;
    position: absolute;
    bottom: 80px;
    z-index: 100;
}

#main_car {
    position: fixed;
    bottom: 160px;
    left: 200px;
    z-index: 200;
    width: 100px;
}

section:nth-child(odd) {
    background-color: #7b7b7b;
}

.main_content {
    display: grid;
    padding: 100px 30px;
    max-width: 1024px;
    margin: 0 auto;
}

#video {
    width: 100%;
    max-width: 540px;
}

#sec_1 h1 {
    margin-top: 0;
}


.fade_out {
    opacity: 0;
}

#pedal {
    width: 35px;
    position: fixed;
    bottom: 10px;
    right: 50px;
    cursor: pointer;
}

.press_pedal {
    transform: scale(0.9);
}

#reverse {
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

@media screen and (min-width: 1024px) {
    #header_wrapper {
        display: flex;
        align-items: center;
        width: 1024px;
        justify-content: space-between;
        margin: 0 auto;
    }

    #logo {
        margin-left: 20px;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav a {
        color: #ccc;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Safety;
        font-weight: 500;
        margin-right: 20px;
        font-size: 1.4rem;
    }

    #search {
        width: 40px;
        height: 40px;
        fill: #9ea1a5;
        margin-right: 20px;
    }

    #burger_menu {
        display: none;
    }

    .main_content {
        grid-template-columns: 1fr 2fr;
    }

    #video {
        width: 100%;
        max-width: 2000px;
    }
}
