:root {
    /* Vi definerer de farver vi vil bruge som variabler, så vi hurtigt kan ændre farverne ét sted */
    --main-grey: #28292C;
    --secondary-grey: #373D46;
    --neon-green: #33FF00;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 4000px;
    margin: 0;
}

header {
    width: 100vw;
    height: 70px;
    position: fixed;
    background-color: var(--main-grey);
    display: flex;
}

#header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 20px;
}

nav {
    display: none;
}

#logo {
    height: 30px;
}

#burger_menu div {
    width: 20px;
    height: 2px;
    margin: 3px;
    background-color: #CCC;
}

main {
    display: flex;
}

section {
    width: 1000px;
    height: 100vh;
    background-color: bisque;
}

section:nth-child(odd) {
    background-color: #ff9f2d;
}

#pedal {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    position: fixed;
    bottom: 90px;
    right: 50px;
    cursor: pointer;
}

#reverse {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    position: fixed;
    bottom: 90px;
    right: 110px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

footer {
    width: 100vw;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-color: var(--main-grey);
}

@media screen and (min-width: 1024px) {
    #header_wrapper {
        display: flex;
        align-items: center;
        width: 1024px;
        justify-content: space-between;
        margin: 0 auto;
    }

    #logo {
        margin-left: 20px;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav a {
        color: #ccc;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Helvetica;
        margin-right: 20px;
        font-size: 1.4rem;
    }

    #search {
        width: 40px;
        height: 40px;
        fill: #9ea1a5;
        margin-right: 20px;
    }

    #burger_menu {
        display: none;
    }
}
