@font-face {
    font-family: 'Safety';
    src: url('fonts/SafetyDemiBold.woff2') format('woff2'),
        url('fonts/SafetyDemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Safety';
    src: url('fonts/Safety-Bold.woff2') format('woff2'),
        url('fonts/Safety-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Safety';
    src: url('fonts/SafetyLight.woff2') format('woff2'),
        url('fonts/SafetyLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Safety';
    src: url('fonts/Safety.woff2') format('woff2'),
        url('fonts/Safety.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Vi definerer de farver vi vil bruge som variabler, så vi hurtigt kan ændre farverne ét sted */
    --main-grey: #28292C;
    --secondary-grey: #eaeaea;
    --neon-green: #33FF00;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Safety';
    font-weight: 300;
    font-style: normal;
    font-size: 4.2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
}

em {
    font-weight: 700;
    font-style: normal;
}

header {
    width: 100vw;
    height: 70px;
    position: fixed;
    background-color: var(--main-grey);
    display: flex;
    z-index: 100;
}

#header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 20px;
}

nav {
    display: none;
}

#logo {
    height: 30px;
}

#burger_menu div {
    width: 20px;
    height: 2px;
    margin: 3px;
    background-color: #CCC;
}

main {
    display: flex;
    width: 300vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    overflow: hidden;
}

section {
    position: relative;
    width: 100vw;
    background-color: #fff;
}

#road {
    width: 8000px;
    position: absolute;
    bottom: 80px;
    z-index: 100;
}

#main_car {
    position: fixed;
    bottom: 160px;
    left: calc(50% - 50px);
    z-index: 200;
    width: 100px;
}

section:nth-child(odd) {
    background-color: var(--secondary-grey);
}

.main_content {
    padding: 100px 30px;
    max-width: 1024px;
    margin: 0 auto;
}

#forside {
    display: grid;
    margin: 20px auto;
}

#forside p {
    display: none;
}

#video_container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 540px;
    max-height: 300px;
}

#play_btn {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 45px);
    transform-origin: center;
    width: 90px;
    height: 50px;
    background-color: #79BD5A;
    cursor: pointer;
    transition: 0.3s all;
}

#play_btn:hover {
    transform: scale(0.95);
}


#play_pause {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    display: none;
    transition: 0.3s all;
}

#fullscreen {
    position: absolute;
    bottom: 10px;
    left: 50px;
    cursor: pointer;
    display: none;
    transition: 0.3s all;
}

#rewind {
    position: absolute;
    bottom: 10px;
    left: 90px;
    cursor: pointer;
    display: none;
    transition: 0.3s all;
}

#sec_1 h1 {
    margin-top: 0;
}

.fade_out {
    opacity: 0;
}


/* DIAGRAMMER */
#data_vis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 0;
}

#data_txt {
    padding: 100px 30px 0 30px;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 20px;
}

#data_txt h1 {
    margin: 0;
}

.diagram_container {
    width: 100%;
    font-family: sans-serif;
    background-size: cover;
    position: relative;
}

.diagram:hover {
    stroke-width: 100;
}

.diagram:hover .stk_1 {
    stroke: #317436;
}

.diagram:hover .stk_2 {
    stroke: #747474;
}

.diagram:hover #stk_3 {
    stroke: #918648;
}

.diagram:hover #stk_4 {
    stroke: #864949;
}

#dia_1:hover #txt_1 {
    pointer-events: none;
    opacity: 1;
}

#dia_2:hover #txt_2 {
    pointer-events: none;
    opacity: 1;
}

#dia_3:hover #txt_3 {
    pointer-events: none;
    opacity: 1;
}

.diagram {
    fill: none;
    stroke-width: 30;
    border-radius: 50%;
    transform: rotate(-90deg);
    max-height: 255px;
    max-width: 255px;
}

.stk_1 {
    stroke: #00ff14;
    stroke-dasharray: 1 314;
    transition: 1s;
}

.stk_2 {
    stroke: #ffffff;
    stroke-dasharray: 1 314;
    transition: 1s;
}

#stk_3 {
    stroke: #ffd800;
}

#stk_4 {
    stroke: #ff0000;
}

.diagram_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.diagram_container h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2.5rem;
    margin: 5px;
}

.diagram_container svg {
    grid-row: 1/2;
    grid-column: 1/2;
}

.diagram_container p {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 100;
    text-align: center;
    color: white;
    opacity: 0;
    transition: 1s all;
    font-size: 1.1rem;
}

/* QUOTES */
#quotes {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

h2 {
    font-family: 'Safety';
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    line-height: 1.2;
}

#quotes h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
}

#quotes img {
    display: none;
}

#txt_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

q {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

#quotes p {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
}

#quotes p:nth-child(5) {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 30px;
}

#quotes p:nth-child(2) {
    transition: 1s all;
    grid-row: 2/3;
    grid-column: 1/2;
}

#quotes p:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/2;
    opacity: 0;
    transition: 1s all;
}

#quotes p:nth-child(4) {
    grid-row: 2/3;
    grid-column: 1/2;
    opacity: 0;
    transition: 1s all;
}

#quotes em {
    color: var(--neon-green);
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;
}

/* SOCIALE MEDIER */
.social_media {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.instagram {
    margin: 0 5px;
    background-image: url(social_media/instagram_1.svg);
    background-size: 100%;
    width: 45px;
    height: 45px;
    transition: 0.3s;
}

.instagram:hover {
    background-image: url(social_media/instagram_2.svg);
}

.instagram:visited {
    background-image: url(social_media/instagram_1.svg);
}

.face {
    margin: 0 5px;
    background-image: url(social_media/face_1.svg);
    background-size: 100%;
    width: 45px;
    height: 45px;
    transition: 0.3s;
}

.face:hover {
    background-image: url(social_media/face_2.svg);
}

.face:visited {
    background-image: url(social_media/face_1.svg);
}

.fade_in {
    animation-name: fade_in_kf;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes fade_in_kf {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

/* FOOTER */
#ui_elm {}

#pedal {
    width: 35px;
    position: fixed;
    bottom: 10px;
    right: 100px;
    cursor: pointer;
}

.press_pedal {
    transform: scale(0.9);
}

#reverse {
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#press_here {
    position: fixed;
    bottom: 15px;
    right: 160px;
    transition: .5s all;
    pointer-events: none;
}

h3 {
    font-family: 'Safety';
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    color: #373D46;
    margin: 0;
    text-align: center;
}

#arrow {
    width: 70px;
    margin-left: 5px;
}

@media screen and (min-width: 650px) {
    .diagram_container p {
        font-size: 1.4rem;
    }
}



@media screen and (min-width: 1024px) {
    #header_wrapper {
        display: flex;
        align-items: center;
        width: 1024px;
        justify-content: space-between;
        margin: 0 auto;
    }

    #logo {
        margin-left: 20px;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav a {
        color: #ccc;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Safety';
        font-style: normal;
        margin-right: 20px;
        font-size: 1.4rem;
    }

    #vp_link {
        font-weight: 600;
    }

    #vp_link:hover {
        color: var(--neon-green);
    }

    .selected {
        color: var(--neon-green);
        font-weight: 600;
    }

    #search {
        width: 40px;
        height: 40px;
        fill: #9ea1a5;
        margin-right: 20px;
    }

    #burger_menu {
        display: none;
    }

    #forside {
        grid-gap: 20px;
    }

    #forside p {
        display: block;
    }

    .main_content {
        grid-template-columns: 1fr 2fr;
    }

    #video {
        max-width: 1000px;
        max-height: 370px;
    }

    #quotes {
        grid-template-columns: 1fr 1fr;
    }

    #quotes h2 {
        margin-bottom: 0px;
    }

    #quotes img {
        width: 100%;
        max-height: 2000px;
        display: block;
        margin-top: 24.9px;
    }


    footer {
        width: 1024px;
    }

    .diagram_container p {
        font-size: 1.6rem;
    }
}
